@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.experience {
  text-align: left;
}

.position {
  border: 2px solid #191919;
  border-radius: 14px;
  box-shadow: 2px 2px 0 #191919;
  padding: 10px;
  background-color: rgb(41, 41, 49);
  position: relative;
  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  color: rgb(198, 107, 198);
  font-weight: 600;
  font-size: 17px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    animation: rotate 1s linear infinite;
    width: 15%;
  }
}

@media screen and (max-width: 500px) {
  .info p {
    max-width: 80px;
  }
}
